<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="operation">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> <span class="badge bg-success">{{operation.productName}}</span> </h5> 
          <button type="button" #closeBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form   novalidate>


             <div class="col">

             </div>
             <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="operation.name"  placeholder="name" >
                    <label for="floatingInputGrid">Name</label>
                </div>   
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="operation.email"  placeholder="name@example.com" value="mdo@example.com">
                    <label for="floatingInputGrid">Email address</label>
                  </div> 
            </div>
            <div class="row">

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="cost" name="cost" [(ngModel)]="operation.cost " placeholder="name@example.com" disabled>
                        <label for="floatingInput">cost (€)</label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="comsumption" name="comsumption" [(ngModel)]="operation.comsumption" placeholder="comsumption" disabled>
                        <label for="floatingInput">comsumption (kWh/year)</label>
                      </div>
                </div>


            </div>
           
          

          

        </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click) = "purchaseProduct()">Save</button>
        </div>
      </div>
    </div>
  </div>